body {
  font-family: "Source Serif 4", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.chroma {
  background-color: unset !important;
}

.entry-cover {
  width: 100dvw;
  margin-left: calc(50% - 50dvw);
  border-radius: 0;
  max-height: 400px;
  overflow: hidden;
}

.entry-cover img {
  border-radius: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  opacity: 0.6;
}

.profile h1 {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #fff;
}