body {
  font-family: "Urbanist", sans-serif;
}

.chroma {
  background-color: unset !important;
}

.post-single .entry-cover {
  margin-top: calc(var(--gap) * -1);
}

.entry-cover {
  width: 100dvw;
  margin-left: calc(50% - 50dvw);
  border-radius: 0;
  max-height: 400px;
  overflow: hidden;
}

.entry-cover img {
  border-radius: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  opacity: 0.6;
}

.profile h1 {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
}