:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

:root[data-theme="dark"] {
    --theme: rgb(3, 8, 12);
    --entry: rgb(8, 15, 22);
    --primary: rgb(230, 235, 240);
    --secondary: rgb(170, 180, 190);
    --tertiary: rgb(100, 115, 130);
    --content: rgb(210, 220, 230);
    --code-block-bg: rgb(10, 18, 26);
    --code-bg: rgb(12, 20, 28);
    --border: rgb(15, 25, 35);
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
